@font-face {
  font-family: "Norse Bold";
  src:
    url("font/norse-bold/Norse-Bold.woff2") format("woff2"),
    url("font/norse-bold/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Regular";
  src:
    url("font/inter-regular/Inter-Regular.woff2") format("woff2"),
    url("font/inter-regular/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: "Inter Regular", sans-serif;
}

/* page layout */
.left-section {
  flex: 4 1;

  /* section layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background: #ffffff url(images/halie-west-25xggax4bSA-unsplash.jpg) center /
    cover no-repeat;
}

.right-section {
  flex: 6 1;

  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  gap: 32px;
}

/* section content layout and styling */

/* left-section content layout*/
.left-section .logo-wraper,
.left-section .image-credits {
  display: flex;
  align-items: flex-end;
}

.left-section .logo-wraper {
  flex: 3 1;

  justify-content: center;
  width: 100%;
}

.left-section .image-credits {
  flex: 7 1;
}

/* left section content stylling */

.left-section .logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  gap: 8px;
}

.left-section .image-credits {
  color: #ffffff;
  font-size: 0.7em;
}

.image-credits p a {
  color: #ffffff;
}

.left-section .logo .logo-image {
  width: 4em;
}

.left-section .logo .logo-text {
  font-size: 4em;
  font-family: "Norse Bold", "Times New Roman", Times, serif;
}

/* right section content styling */

.right-section .greater-section,
.right-section .submit-section {
  flex: 2 1;
}

.right-section .signup-section {
  flex: 1 1;

  display: flex;
  flex-direction: column;
  padding: 24px 40px 32px 40px;
  gap: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.right-section .form-input-wraper {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  gap: 16px;
  flex-wrap: wrap;
}

.form-input-wraper .form-input {
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
}

.form-input input {
  min-width: 200px;
  min-height: 24px;
  padding: 4px;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}

.right-section .greater-section {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 24px;

  padding: 16px 40px;
  font-size: 1em;
  font-weight: bold;
}

.greater-section p {
  max-width: 80%;
}

.right-section .submit-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 40px;
}

.submit-section button {
  background-color: #596d48;
  width: 180px;
  height: 32px;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease;
}

.submit-section button:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.submit-section .have-account {
  font-size: 0.9em;
}

.have-account a {
  text-decoration: none;
  color: #596d48;
}

.form-input input:user-invalid {
  border: 1px solid #c64646;
}

.form-input input:focus {
  border: 1px solid #3964dc;
  outline: none;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
